# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.python-version

# C extensions
*.dll
*.pyd

# Distribution / packaging
.bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environments
venv/
env/
ENV/
.venv/
cuda/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Environment variables / Secrets
.env
.env.*
*.env
tokens.json
secrets.json

# Training datasets & text corpora
*.txt
!vocab.txt

ashen_gpt_model.pk1
*GGUF/
